body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 36px;
  margin: 11.25px 0;
  line-height: 1.2em;
}
h2 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 27px;
  margin: 8.4375px 0;
  line-height: 1.2em;
}
h3 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 22.5px;
  margin: 7.03125px 0;
  line-height: 1.2em;
}
h4 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 19.5px;
  margin: 6.09375px 0;
  line-height: 1.2em;
}
h5 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 15px;
  margin: 4.6875px 0;
  line-height: 1.2em;
}
h6 {
  color: #333;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-size: 13.5px;
  margin: 4.21875px 0;
  text-transform: uppercase;
  line-height: 1.2em;
}
::-moz-selection {
  background: #00a6fc;
  color: #494949;
}
::selection {
  background: #00a6fc;
  color: #494949;
}
ul {
  margin: 5px 15px;
  padding-left: 1em;
}
ul li {
  list-style-type: disc;
  padding: 2px 0;
}
ol {
  margin: 5px 18px;
  padding-left: 1em;
}
ol li {
  list-style-type: decimal;
  padding: 2px 0;
}
p {
  margin: 9.375px 0;
  line-height: 1.6em;
  font-size: 15px;
}
small {
  font-size: 55%;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  font-weight: normal;
}
a {
  color: #00a6fc;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #008dd6;
}
a:hover {
  border-bottom: 1px solid;
}
a:visited {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
blockquote p {
  font-weight: 300;
  font-size: 127%;
  line-height: 127%;
}
blockquote cite {
  color: #888;
}
blockquote cite:before {
  content: '\2014';
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 90%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border: solid 1px #bbb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  outline: none !important;
  padding: 4px 5px 4px;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px rgba(82,215,254,0.7);
  -moz-box-shadow: 0 0 5px rgba(82,215,254,0.7);
  -o-box-shadow: 0 0 5px rgba(82,215,254,0.7);
  -ms-box-shadow: 0 0 5px rgba(82,215,254,0.7);
  box-shadow: 0 0 5px rgba(82,215,254,0.7);
  border: 1px solid #70c7e0;
  outline: none !important;
}
input[type='email'].disabled,
input[type='number'].disabled,
input[type='password'].disabled,
input[type='search'].disabled,
input[type='tel'].disabled,
input[type='text'].disabled,
input[type='url'].disabled,
input[type='color'].disabled,
input[type='date'].disabled,
input[type='datetime'].disabled,
input[type='datetime-local'].disabled,
input[type='month'].disabled,
input[type='time'].disabled,
input[type='week'].disabled,
textarea.disabled {
  cursor: not-allowed;
  background: #f5f5f5 !important;
}
input[type='email'].disabled:hover,
input[type='number'].disabled:hover,
input[type='password'].disabled:hover,
input[type='search'].disabled:hover,
input[type='tel'].disabled:hover,
input[type='text'].disabled:hover,
input[type='url'].disabled:hover,
input[type='color'].disabled:hover,
input[type='date'].disabled:hover,
input[type='datetime'].disabled:hover,
input[type='datetime-local'].disabled:hover,
input[type='month'].disabled:hover,
input[type='time'].disabled:hover,
input[type='week'].disabled:hover,
textarea.disabled:hover,
input[type='email'].disabled:focus,
input[type='number'].disabled:focus,
input[type='password'].disabled:focus,
input[type='search'].disabled:focus,
input[type='tel'].disabled:focus,
input[type='text'].disabled:focus,
input[type='url'].disabled:focus,
input[type='color'].disabled:focus,
input[type='date'].disabled:focus,
input[type='datetime'].disabled:focus,
input[type='datetime-local'].disabled:focus,
input[type='month'].disabled:focus,
input[type='time'].disabled:focus,
input[type='week'].disabled:focus,
textarea.disabled:focus {
  border-color: #bbb;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type='email'].success,
input[type='number'].success,
input[type='password'].success,
input[type='search'].success,
input[type='tel'].success,
input[type='text'].success,
input[type='url'].success,
input[type='color'].success,
input[type='date'].success,
input[type='datetime'].success,
input[type='datetime-local'].success,
input[type='month'].success,
input[type='time'].success,
input[type='week'].success,
textarea.success {
  color: #7fc028;
  border-color: #7fc028;
}
input[type='email'].success:focus,
input[type='number'].success:focus,
input[type='password'].success:focus,
input[type='search'].success:focus,
input[type='tel'].success:focus,
input[type='text'].success:focus,
input[type='url'].success:focus,
input[type='color'].success:focus,
input[type='date'].success:focus,
input[type='datetime'].success:focus,
input[type='datetime-local'].success:focus,
input[type='month'].success:focus,
input[type='time'].success:focus,
input[type='week'].success:focus,
textarea.success:focus {
  -webkit-box-shadow: 0 0 5px rgba(127,192,40,0.7);
  -moz-box-shadow: 0 0 5px rgba(127,192,40,0.7);
  -o-box-shadow: 0 0 5px rgba(127,192,40,0.7);
  -ms-box-shadow: 0 0 5px rgba(127,192,40,0.7);
  box-shadow: 0 0 5px rgba(127,192,40,0.7);
  border: 1px solid #7ba543;
  outline: none !important;
}
input[type='email'].warning,
input[type='number'].warning,
input[type='password'].warning,
input[type='search'].warning,
input[type='tel'].warning,
input[type='text'].warning,
input[type='url'].warning,
input[type='color'].warning,
input[type='date'].warning,
input[type='datetime'].warning,
input[type='datetime-local'].warning,
input[type='month'].warning,
input[type='time'].warning,
input[type='week'].warning,
textarea.warning {
  color: #f8ca5c;
  border-color: #f8ca5c;
}
input[type='email'].warning:focus,
input[type='number'].warning:focus,
input[type='password'].warning:focus,
input[type='search'].warning:focus,
input[type='tel'].warning:focus,
input[type='text'].warning:focus,
input[type='url'].warning:focus,
input[type='color'].warning:focus,
input[type='date'].warning:focus,
input[type='datetime'].warning:focus,
input[type='datetime-local'].warning:focus,
input[type='month'].warning:focus,
input[type='time'].warning:focus,
input[type='week'].warning:focus,
textarea.warning:focus {
  -webkit-box-shadow: 0 0 5px rgba(248,202,92,0.7);
  -moz-box-shadow: 0 0 5px rgba(248,202,92,0.7);
  -o-box-shadow: 0 0 5px rgba(248,202,92,0.7);
  -ms-box-shadow: 0 0 5px rgba(248,202,92,0.7);
  box-shadow: 0 0 5px rgba(248,202,92,0.7);
  border: 1px solid #ddbf77;
  outline: none !important;
}
input[type='email'].error,
input[type='number'].error,
input[type='password'].error,
input[type='search'].error,
input[type='tel'].error,
input[type='text'].error,
input[type='url'].error,
input[type='color'].error,
input[type='date'].error,
input[type='datetime'].error,
input[type='datetime-local'].error,
input[type='month'].error,
input[type='time'].error,
input[type='week'].error,
textarea.error {
  color: #b44326;
  border-color: #b44326;
}
input[type='email'].error:focus,
input[type='number'].error:focus,
input[type='password'].error:focus,
input[type='search'].error:focus,
input[type='tel'].error:focus,
input[type='text'].error:focus,
input[type='url'].error:focus,
input[type='color'].error:focus,
input[type='date'].error:focus,
input[type='datetime'].error:focus,
input[type='datetime-local'].error:focus,
input[type='month'].error:focus,
input[type='time'].error:focus,
input[type='week'].error:focus,
textarea.error:focus {
  -webkit-box-shadow: 0 0 5px rgba(180,67,38,0.7);
  -moz-box-shadow: 0 0 5px rgba(180,67,38,0.7);
  -o-box-shadow: 0 0 5px rgba(180,67,38,0.7);
  -ms-box-shadow: 0 0 5px rgba(180,67,38,0.7);
  box-shadow: 0 0 5px rgba(180,67,38,0.7);
  border: 1px solid #9b523f;
  outline: none !important;
}
.btn-simple {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #00a6fc;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #009eef;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
.btn-simple:active {
  background-color: #0095e3;
}
.btn {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background: url("noise.png") repeat, #0095e3 -webkit-gradient(linear, left top, left bottom, color-stop(0, #17b0ff), color-stop(1, #0095e3)) repeat-x;
  background: url("noise.png") repeat, #0095e3 -webkit-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -moz-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -o-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -ms-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #0095e3;
  color: #fff;
  color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.btn:focus {
  background-position: 0 -9.945px;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -o-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -ms-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-color: #0088cf;
}
.btn.disabled,
.btn-simple.disabled {
  background: #ccc;
  border-color: #b8b8b8;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.disabled:hover,
.btn-simple.disabled:hover {
  background: #ccc;
  background-position: 0 0;
}
.btn.disabled:active,
.btn-simple.disabled:active {
  background: #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #b8b8b8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
code {
  padding: 3px 4px;
  color: #df5c33;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  line-height: 160%;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
th + th, td + td, th + td, td + th { border-left: 1px solid #ddd; }
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
th + th, td + td, th + td, td + th { border-left: 1px solid #ddd; }
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body {
  margin: 0px;
}
article {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.intro {
  text-align: center;
}
.intro .logo {
  margin: 0 auto;
  display: block;
  max-width: 300px;
}
section {
  margin: 40px 0px;
}
section:first-child {
  margin-top: 0px;
}
