.page-loader
  width: 100%

.page-loader-container
  position: relative
  display: block
  width: 4em
  margin: 4em auto

.page-loader-failed
  position: absolute
  top: 0
  left: 0

.page-loader-failed-icon
.page-loader-reload-icon
  position: absolute
  top: 0
  left: 0
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)

.page-loader-failed
  .page-loader-reload-icon
    opacity: 0

  .page-loader-failed-icon
    opacity: 1
  
  &:hover
    .page-loader-reload-icon
      opacity: 1
    .page-loader-failed-icon
      opacity: 0

@keyframes page-loader-loading-timeout
  0% { opacity: 1 }
  85% { opacity: 1 }
  95% { opacity: 0 }
  100% { opacity: 0 }

@keyframes page-loader-failed-timeout
  0% { opacity: 0 }
  90% { opacity: 0 }
  100% { opacity: 1 }

.page-loader-loading
  opacity: 0
  animation-duration: 20s
  animation-name: page-loader-loading-timeout

.page-loader-failed
  opacity: 1
  animation-duration: 20s
  animation-name: page-loader-failed-timeout
