// Great baseline colors from http://flatuicolors.com/
flat-turquoise ?= #1ABC9C
flat-green_sea ?= #16A085

flat-emerald ?= #2ECC71
flat-nephritis ?= #27AE60

flat-peter_river ?= #3498DB
flat-belize_hole ?= #2980B9

flat-amethyst ?= #9B59B6
flat-wisteria ?= #8E44AD

flat-wet_asphalt ?= #34495E
flat-midnight_blue ?= #2C3E50

flat-sun_flower ?= #F1C40F
flat-orange ?= #F39C12

flat-carrot ?= #E67E22
flat-pumpkin ?= #D35400

flat-alizarin ?= #E74C3C
flat-pomegranate ?= #C0392B

flat-clouds ?= #ECF0F1
flat-silver ?= #BDC3C7

flat-concrete ?= #95A5A6
flat-asbestos ?= #7F8C8D

black ?= #333
white ?= #fff

// Default transition duration.
tduration ?= 0.3s

// Media query variables.
// Extra small screen / phone
screen-xs ?=                  480px;
screen-phone ?=               screen-xs;

// Small screen / tablet
screen-sm ?=                  768px;
screen-tablet ?=              screen-sm;

// Medium screen / desktop
screen-md ?=                  992px;
screen-desktop ?=             screen-md;

// Large screen / wide desktop
screen-lg ?=                  1200px;
screen-lg-desktop ?=          screen-lg;

// So media queries don't overlap when required, provide a maximum
screen-xs-max ?=              (screen-sm - 1);
screen-sm-max ?=              (screen-md - 1);
screen-md-max ?=              (screen-lg - 1);

// The textbook content size
content-width-md ?=           750px
content-width-sm ?=           615px

// Debug variables
debug ?= 0

font-family-sans-serif ?=     "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
font-family-serif ?=          Georgia, "Times New Roman", Times, serif
font-family-monospace ?=      Monaco, Menlo, Consolas, "Courier New", monospace

font-size-base ?=             20px
font-size-phone ?=            font-size-base - 2px

font-family-base ?=           font-family-serif
font-weight-base ?=           400
line-height-base ?=           1.5

font-family-headings ?=       font-family-sans-serif
font-weight-headings ?=       500
line-height-headings ?=       1.5
