mixin meta(key, value)
  - if (self.meta) {
  -   self.meta[key] = value;
  - }

mixin title(title, subtitle)
  +meta('title', title)
  if (subtitle)
    +meta('subtitle', subtitle)

mixin subtitle(subtitle)
  +meta('subtitle', subtitle)

mixin hidden_from_toc()
  +meta('noToC', true)

mixin hidden_from_spine()
  +meta('noSpine', true)

mixin hidden_chapter()
  +hidden_from_toc
  +hidden_from_spine


