mixin index()
  nav#leftbar
  #menu
    #rightbar-toggle
    #leftbar-toggle.menu-item: i.fa.fa-bars
    #go-fullscreen.menu-item.hide-small: i.fa.fa-arrows-alt
  #content
    #scrollview
      #textbook
        include ./error-message.jade
    #navigation-menu
      a#previous-chapter.navigation-button: i.fa.fa-arrow-left
      #navigation-slider
        input#navigator-slider-page.hidden(type='text', style='width:96%')
      a#next-chapter.navigation-button: i.fa.fa-arrow-right
