.page-loader.full
  .page-loader-container
    .page-loader-loading
      i.fa.fa-fw.fa-3x.fa-spinner.fa-spin.page-loader-spinner
    .page-loader-failed(onclick='window.location.reload()')
      i.fa.fa-fw.fa-3x.fa-exclamation-circle.page-loader-failed-icon
      i.fa.fa-fw.fa-3x.fa-refresh.page-loader-reload-icon
