// override animations to be instantaneous for testing purposes
tduration = 0s

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic);

lfa-framework()

body
  font-family: Merriweather
  font-weight: 300
  font-size: 18px

p
  line-height: 1.5em
  margin-bottom: 1.5em
  margin-top: 0
  letter-spacing: .01rem

h1
  margin-bottom: 1em
  margin-top: 1em
  font-family: 'Lucida Grande'
  line-height: 1.5em
  letter-spacing: -0.02em
  font-weight: 500
  font-size: 2em

p.italic
  text-align: center
  font-size: 23px
  font-weight: 300
  -webkit-font-smoothing: antialiased
  font-style: italic