// override animations to be instantaneous for testing purposes (so screenshots always look the same in phantom-css)
tduration = 0s

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700,700italic,400italic);

lfa-framework()

body
  font-family: Merriweather
  font-weight: 300
  font-size: 18px

// h1, p
//   background: #eee

p
  font-size: 1em
  line-height: 1.5em
  letter-spacing: .01rem
  
  margin-top: 1.5em
  margin-bottom: 1.5em
  

h1
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif
  font-size: 2em
  line-height: 1.5em
  font-weight: 500
  letter-spacing: -0.02em
  
  margin-bottom: 0.75em
  margin-top: 0.75em

.italic
  -webkit-font-smoothing: antialiased
  font-style: italic