// Vertical rhythm helper courtesy of http://basehold.it/
body
  position: relative

body:after
  position: absolute
  width: auto
  height: auto
  z-index: 9999
  content: ''
  display: block
  pointer-events: none
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: url('http://basehold.it/image.php?height=' + (font-size-base * 1.5) + '') repeat top left
  
  @media max-phone
    background: url('http://basehold.it/image.php?height=' + (font-size-phone * 1.5) + '') repeat top left

body:active:after
  display: none

// Some backgrounds to help with the vertical rhythm business
article > section > *
  background: #eee
