// Vertical rhythm helper courtesy of http://basehold.it/
body
  position: relative

body:after
  position: absolute
  width: auto
  height: auto
  z-index: 9999
  content: ''
  display: block
  pointer-events: none
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: url('http://basehold.it/image.php?height=27') repeat top left

body:active:after
  display: none

// Some backgrounds to help with the rhythm business
article > section > *
  background: #eee
