// Bootstrap Variables and Mixins.
@import 'bootstrap/variables'
@import 'bootstrap/mixins'

// LFA Variables.
@import 'variables'

// Our preferred font package.
@import 'fonts'

// Bootstrap needs no introduction.
bootstrap()
  @import 'bootstrap/bootstrap'
  
  // Bootstrap overrides.
  @import 'overrides'

// Helpers: utility classes.
helpers()
  @import 'helpers'

// Elements: custom rules for essential textbook functionality.
elements()
  @import 'elements'

// The "Holy Grail" layout.
layout()
  @import 'layout'


lfa-framework()
  bootstrap()
  helpers()
  elements()
  layout()
  
  if debug
    @import 'debug'
