// Placeholder text
placeholder(colour = $input-color-placeholder) {
  &:-moz-placeholder            { color: colour; } // Firefox 4-18
  &::-moz-placeholder           { color: colour; } // Firefox 19+
  &:-ms-input-placeholder       { color: colour; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: colour; } // Safari and Chrome
}