// Placeholder text.
placeholder(colour = black) {
  &:-moz-placeholder            { color: colour; } // Firefox 4-18
  &::-moz-placeholder           { color: colour; } // Firefox 19+
  &:-ms-input-placeholder       { color: colour; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: colour; } // Safari and Chrome
}

// Media query helpers.
max-phone ?= "(max-width: " + screen-xs-max + ")"
max-tablet ?= "(max-width: " + screen-sm-max + ")"
max-desktop ?= "(max-width: " + screen-md-max + ")"