// Bootstrap overrides to provide vertical-rhythm.
body
  font-weight: 300
  
  @media max-phone
    font-size: 16px

p
  font-size: 1em
  letter-spacing: .01rem
  
  margin-top: 1.5em
  margin-bottom: 1.5em
  
h1, h2, h3, h4, h5, h6
  letter-spacing: -0.02em
  margin-bottom: 0
  
  + p
    margin-top: 0

h1
  font-size: 2em
  line-height: 1.5em
  
  margin-top: 0.75em
  

h2
  font-size: 1.6em
  line-height: 1.875em
  
  margin-top: 0.9375em
  

h3
  font-size: 1.25em
  line-height: 2.4em
  
  margin-top: 1.20em

h4, h5, h6
  font-size: 1em
  line-height: 1.5em
  
  margin-top: 1.5em
