// Great baseline colors from http://flatuicolors.com/
flat_turquoise ?= #1ABC9C
flat_green_sea ?= #16A085

flat_emerald ?= #2ECC71
flat_nephritis ?= #27AE60

flat_peter_river ?= #3498DB
flat_belize_hole ?= #2980B9

flat_amethyst ?= #9B59B6
flat_wisteria ?= #8E44AD

flat_wet_asphalt ?= #34495E
flat_midnight_blue ?= #2C3E50

flat_sun_flower ?= #F1C40F
flat_orange ?= #F39C12

flat_carrot ?= #E67E22
flat_pumpkin ?= #D35400

flat_alizarin ?= #E74C3C
flat_pomegranate ?= #C0392B

flat_clouds ?= #ECF0F1
flat_silver ?= #BDC3C7

flat_concrete ?= #95A5A6
flat_asbestos ?= #7F8C8D

black ?= #333
white ?= #fff

// Default transition duration.
tduration ?= 0.3s

// Extra small screen / phone
screen-xs ?=                  480px;
screen-phone ?=               screen-xs;

// Small screen / tablet
screen-sm ?=                  768px;
screen-tablet ?=              screen-sm;

// Medium screen / desktop
screen-md ?=                  992px;
screen-desktop ?=             screen-md;

// Large screen / wide desktop
screen-lg ?=                  1200px;
screen-lg-desktop ?=          screen-lg;

// So media queries don't overlap when required, provide a maximum
screen-xs-max ?=              (screen-sm - 1);
screen-sm-max ?=              (screen-md - 1);
screen-md-max ?=              (screen-lg - 1);

// Media query helpers.
max-phone ?= "(max-width: " + screen-xs-max + ")"
max-tablet ?= "(max-width: " + screen-sm-max + ")"
max-desktop ?= "(max-width: " + screen-md-max + ")"

// Layout-specific variables.
toggleHitbox ?= 3em
halfGutter ?= 15px
sidebarWidth ?= 250px
sidebarTextColor ?= flat_clouds
sidebarTextSize ?= 1em
sidebarBackground ?= #222
sidebarLiColor ?= rgba(0, 0, 0, 0)
sidebarHoverBg ?= lighten(sidebarBackground, 20%)

sidebarSearchBg ?= #444
sidebarSearchResultBg ?= #444

// Debug variables
debug ?= 0

font-family-sans-serif ?=  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
font-family-serif ?=       "Merriweather", Georgia, "Times New Roman", Times, serif
font-family-monospace ?=   Monaco, Menlo, Consolas, "Courier New", monospace

font-size-base ?=          18px
font-size-phone ?=         font-size-base - 2px

font-family-base ?=        font-family-serif
font-weight-base ?=        400
line-height-base ?=        1.5

font-family-headings ?=    font-family-sans-serif
font-weight-headings ?=    500
line-height-headings ?=    1.5