animated-transitions(duration)
  ease-sidebar ?= cubic-bezier(.10, .70, .20, 1)

  hoverduration ?= duration / 3
  duration-sidebar ?= duration * 2

  .menu
    transition: transform duration ease, opacity duration ease

  #content
    transition: transform duration-sidebar ease-sidebar, opacity duration-sidebar ease

  #leftbar
  #rightbar
    transition: transform duration-sidebar ease-sidebar

  #leftbar
    ul li a
      transition: background hoverduration linear

  #leftbar-toggle, #rightbar-toggle
    transition: transform duration-sidebar ease-sidebar, opacity duration-sidebar ease
    > i
      transition: transform duration-sidebar ease-sidebar

  #search-go, #search-erase
    transition: transform duration ease

  #search-results li a
    transition: background hoverduration ease
    .title, .body
      transition: color hoverduration ease

  #animations-toggle
    transition: background hoverduration ease

// 0 (almost) duration transitions by default.
body
  animated-transitions(0.001s)

// Animation durations. Turning these off will usually improve performance, and always
// improve productivity. (having something happen instantly is better than after 0.3s)
body.animated
  animated-transitions(tduration)