#browser-warning
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  min-height: 100%
  z-index: 1200

  .bwarn-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.9
    background-color: #000

  .bwarn-scroll
    overflow-y: scroll
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch

    .bwarn-content
      color: #fff
      opacity: 1
