#browser-warning
  position: fixed
  overflow: auto
  overflow-y: scroll
  top: 0
  left: 0
  right: 0
  bottom: 0
  min-height: 100%
  z-index: 1200
  background: #000
  background: rgba(0, 0, 0, 0.9)

  .bwarn-content
    color: #fff
    opacity: 1
