// The left sidebar, with the table of contents.
ul.tableofcontents
  background: sidebar-background
  
  list-style-type: none
  padding: 0
  
  li
    cursor: pointer
  
  a
    color: sidebar-text-color
    height: (sidebar-text-size * 3)
    width: 100%
    display: block
    letter-spacing: 1px
    padding: 0 half-gutter
    text-decoration: none
    position: relative
    
    .title, .subtitle
      display: block
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
    
    .title
      font-size: sidebar-text-size
      line-height: (sidebar-text-size * 3)
    
    &.subtitled
      .title
        padding-top: (sidebar-text-size * 0.5)
        line-height: sidebar-text-size
      
      .subtitle
        line-height: sidebar-text-size
        font-size: (sidebar-text-size * 0.75)
        padding-top: (sidebar-text-size * 0.25)
        padding-bottom: (sidebar-text-size * 0.75)
        color: rgba(255, 255, 255, 0.5)
        letter-spacing: 0px
    
    .btn
      position: absolute
      top: 0
      right: 0
      width: 4em
      height: 100%
      border-radius: 0
      z-index: 100
      background: lighten(#222, 30%)

      &:hover
        color: white

      i.fa-fw
        font-size: 2em
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
  
  li.fold
    > a > .btn > i.fa-fw
      transform: translate3d(-50%, -50%, 0) rotate(90deg)

    > ul
      display: none
  
  li.active > a, li > a:focus
    background: sidebar-hover-bg
    text-decoration: none

  > li > ul > li
    // Second level chapters.
    > a
      padding-left: half-gutter + 10px
  
    > ul > li a
      // Third level chapters and beyond.
      padding-left: half-gutter + 20px
