// Because reasons.
html, body
  height: 100%
  width: 100%
  
  // Kerning!
  // Current compatibility.
  text-rendering: optimizeLegibility
  font-feature-settings: "kern"

  // Backwards compatibility.
  -webkit-font-feature-settings: "kern"
  -moz-font-feature-settings: "kern"
  -moz-font-feature-settings: "kern=1"

  // Forwards compatibility.
  font-kerning: normal

// Rules for devices with no touch support. Hover states and the like.

html.touch body
  #leftbar 
    ul li a:hover, ul li .fold-button:hover
      background: inherit

html.no-touch body
  #rightbar #search ul#search-results li a:hover
    background: lighten(sidebar-search-result-bg, 10%)
    .title, .body
      color: lighten(sidebar-text-color, 10%)
