// Position the sidebar buttons correctly and style them.
.menu-item
  position: absolute
  width: toggle-hitbox
  height: toggle-hitbox
  cursor: pointer
  background: #222
  color: white

  &:hover
  &:focus
    color: white
    text-decoration: none

  .menu-item-contents
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)
    font-size: 1.5em

.menu .menu-item
  top: 1.5em

.navigation-menu .menu-item
  bottom: 1.5em

html[dir='ltr']
  #leftbar-toggle, #previous-chapter
    left: 1em

  #rightbar-toggle, #next-chapter
    right: 1em

html[dir='rtl']
  #leftbar-toggle, #previous-chapter
    right: 1em

  #rightbar-toggle, #next-chapter
    left: 1em
