// Position the sidebar buttons correctly and style them.
#leftbar-toggle, #rightbar-toggle, #previous-chapter, #next-chapter
  position: absolute
  width: toggle-hitbox
  height: toggle-hitbox
  cursor: pointer
  background: #222
  color: white
  > i
    position: absolute
    font-size: 1.5em

#leftbar-toggle, #rightbar-toggle
  top: 1.5em

#previous-chapter, #next-chapter
  bottom: 1.5em

#leftbar-toggle, #previous-chapter
  left: 1em
  > i
    top: 0.50em
    left: 0.37em

#rightbar-toggle, #next-chapter
  right: 1em
  > i
    top: 0.45em
    right: 0.40em