// Layout-specific variables.
toggle-hitbox ?= 3em
half-gutter ?= 15px
sidebar-width ?= 250px
sidebar-text-color ?= flat-clouds
sidebar-text-size ?= 1em
sidebar-background ?= #222
sidebar-hover-bg ?= lighten(sidebar-background, 20%)

sidebar-search-bg ?= #444
sidebar-search-result-bg ?= #444