// Layout-specific variables.
toggle-hitbox ?= 3em
half-gutter ?= 15px
sidebar-width ?= 250px
sidebar-text-color ?= flat-clouds
sidebar-text-size ?= 1em
sidebar-background ?= #222
sidebar-hover-bg ?= lighten(sidebar-background, 20%)

sidebar-search-bg ?= #444
sidebar-search-result-bg ?= #444

highlight-background ?= #ddd

stripe-bezier ?= cubic-bezier(0.41, 1.34, 0.51, 1.01)
ease-sidebar ?= cubic-bezier(.10, .70, .20, 1)
