// Layout-specific variables.
toggleHitbox ?= 3em
halfGutter ?= 15px
sidebarWidth ?= 250px
sidebarTextColor ?= flat_clouds
sidebarTextSize ?= 1em
sidebarBackground ?= #222
sidebarLiColor ?= rgba(0, 0, 0, 0)
sidebarHoverBg ?= lighten(sidebarBackground, 20%)

sidebarSearchBg ?= #444
sidebarSearchResultBg ?= #444