!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= name
  body
    != content

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
