// remove this mixin in order to disable LFA specific css
lfa-framework()

html, body
  height: 100%
  width: 100%

// "Holy Grail" layout, with left and right sidebar.
sidebarWidth = 250px
toggleHitbox = 55px
body
  padding: 0 sidebarWidth
  
  #leftbar-toggle, #rightbar-toggle
    display: none
    position: absolute
    width: toggleHitbox
    height: toggleHitbox
    cursor: pointer
    top: 0
    > i
      position: absolute
      top: 15px
      font-size: 25px
      color: #333

  #leftbar-toggle
    left: 0
    > i
      left: 10px
  
  #rightbar-toggle
    right: 0
    > i
      top: 17px
      right: 10px
  
  > .menu-wrapper
    position: fixed
    top: 0
    left: 0
    height: 60px
    width: 100%
    z-index: 900
    padding: 0 sidebarWidth
    
    > .menu
      height: @height
      width: 100%
      position: relative
      
      .header
        display: block
        height: @height
        width: 100%
        background: linear-gradient(top, rgba(255,255,255,1.0) 30%, rgba(255,255,255,0.0) 100%)
        text-align: center
        padding-top: 5px
        span
          font-weight: 200
  
  > section, #textbook
    height: 100%
  
  > nav
  > aside
    width: sidebarWidth
    position: fixed
    height: 100%
    top: 0px
    overflow-y: auto
    overflow-x: hidden
    .fa
      font-size: 50px
  
  > nav
    left: 0px
    z-index: 1000
  
  > aside
    right: 0px
    z-index: 1010
  
  @media (max-width: 600px)
    // Make the other sidebar-toggle dissapear when your screen width is tiny.
    &.rightbar-active
      #leftbar-toggle
        transform: translate3d(- toggleHitbox, 0, 0)
        opacity(0)
    &.leftbar-active
      #rightbar-toggle
        transform: translate3d(toggleHitbox, 0, 0)
        opacity(0)
  
  @media max-phone
    padding-left: 0
    > .menu-wrapper
      padding-left: 0
    > nav
      left: - sidebarWidth
    #leftbar-toggle
      display: block
    
    &.leftbar-active
      > section
        opacity(0.2)
      #leftbar-toggle
        transform: translate3d(sidebarWidth, 0, 0)
        .fa.fa-bars
          transform: rotate(180deg)
      > nav
        transform: translate3d(sidebarWidth, 0, 0)
  
  @media max-tablet
    padding-right: 0
    > .menu-wrapper
      padding-right: 0
    > aside
      right: - sidebarWidth
    #rightbar-toggle
      display: block
    
    &.rightbar-active
      > section
        opacity(0.2)
      #rightbar-toggle
        transform: translate3d(- sidebarWidth, 0, 0)
        .fa.fa-chevron-left
          transform: rotate(180deg)
      > aside
        transform: translate3d(- sidebarWidth, 0, 0)

// Eye candy for devices that can handle it.
body.high-performance
  > section
    transition: opacity tduration ease
  
  > nav
  > aside
    transition: transform tduration ease
  
  > nav
    ul li a
      transition: background 0.1s linear
  
  > .menu-wrapper > .menu
    #leftbar-toggle, #rightbar-toggle
      transition: transform tduration ease\, opacity tduration ease
      > i
        transition: transform tduration ease
  
  #search-go, #search-erase
    transition: transform tduration ease

// Special rules for Apple iOS devices.
body.appleios
  overflow: hidden
  
  > nav
  > aside
    -webkit-overflow-scrolling: touch
  
  > section
    overflow-y: auto
    -webkit-overflow-scrolling: touch

// These rules are used to stop the body element from scrolling when a sidebar is in focus.
body.leftbar-active, body.rightbar-active, body.no-scroll
  overflow: hidden

halfGutter = ($grid-gutter-width / 2)
#textbook > article
body > nav
  @extend .container
  padding-top: halfGutter

sidebarTextColor = flat_clouds
sidebarTextSize = 20px
sidebarSubtitleColor = flat_asbestos
sidebarBackground = flat_midnight_blue
sidebarLiColor = flat_wet_asphalt

body > nav
body > aside
  background: sidebarBackground
  color: sidebarTextColor

// The majestic table of contents itself
body > nav
  ul
    list-style-type: none
    padding: 0
    
    li
      cursor: pointer
    
    a
      color: sidebarTextColor
      height: 100%
      width: 100%
      display: block
      padding: halfGutter
      font-size: sidebarTextSize
      font-weight: 200
      letter-spacing: 1px
      margin-bottom: 2px
      
      &:hover
        color: @color
        text-decoration: none
      
      .title, .subtitle
        display: block
      
      .subtitle
        font-size: sidebarTextSize - 4px
        color: sidebarSubtitleColor
        letter-spacing: 0px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
    
    li.active > a, li > a:focus
      background: sidebarTextColor
      color: sidebarBackground
  
  > ul
    > li
      margin: 0px (- halfGutter) 2px (- halfGutter)
      // first level chapters
      > a
        background: sidebarLiColor
      
      > ul
        > li
          // second level chapters
          > a
            padding-left: (halfGutter + 10px)
            font-size: sidebarTextSize - 4px
            background: darken(sidebarLiColor, 10%)
          
          > ul
            > li
              // third level chapters and beyond
              a
                padding-left: (halfGutter + 20px)
                font-size: sidebarTextSize - 4px
                background: darken(sidebarLiColor, 20%)

// Rules for devices with no touch support. Hover states and the like.
body.no-touch
  > nav ul li a:hover
    background: sidebarTextColor
    color: sidebarBackground

#textbook > article
  h1:first-child
    margin-top: 45px

// The right sidebar, with the search and the notes.
body > aside
  #search
    padding-top: halfGutter
    background: flat_green_sea
    position: relative
    overflow-y: hidden
    overflow-x: hidden
    
    #search-go, #search-erase
      position: absolute
      top: halfGutter
      right: 0
      cursor: pointer
      height: toggleHitbox + 3px
      width: toggleHitbox
      > i
        padding-top: 18px
        padding-left: 20px
        font-size: sidebarTextSize
      
      > i.fa-search
        padding-left: 18px
      
      &.concealed
        transform: translate3d(toggleHitbox, 0, 0)
    
    input
      cursor: pointer
      margin: 0
      padding: halfGutter
      border: 0
      border-radius: 0
      width: 100%
      background: flat_turquoise
      color: sidebarTextColor
      placeholder(sidebarTextColor)
      font-size: sidebarTextSize