// remove this mixin in order to disable LFA specific css
lfa-framework()

html, body
  height: 100%
  width: 100%

#sidebar-toggle
  display: none
  border-radius: 0px
  
  @media (max-width: 767px)
    display: block

body
  padding-left: 250px
  
  .sidebar
    background: flat_wet_asphalt
    
    width: 250px
    margin-left: -250px
    position: fixed
    height: 100%
    overflow-y: auto
    z-index: 1000
  
  .content
    background: flat_midnight_blue
    color: white
  
    article
      @extend .container
      background: green

      section
        @extend .row
        background: red
  
  .sidebar, .content
    transition: transform tduration ease
  
  @media max-phone
    padding-left: 0
    
    &.sidebar-active
      .sidebar, .content
        translate3d(250px, 0, 0)
