// remove this mixin in order to disable LFA specific css
lfa-framework()

html, body
  height: 100%
  width: 100%

nav
  background: flat_wet_asphalt

#textbook
  background: flat_midnight_blue
  color: white

#sidebar-toggle
  display: none
  border-radius: 0px
  
  @media (max-width: 767px)
    display: block

body
  padding-left: 250px
  
  nav
    margin-left: -250px
    width: 250px
    position: fixed
    height: 100%
    overflow-y: auto
    z-index: 1000
  
  nav, .content
    transition: all 0.4s ease
  
  @media (max-width: 767px)
    padding-left: 0
    
    &.sidebar-active
      nav, .content
        transform: translate3d(250px, 0, 0)
