// To use, just override the background-image property on this; inline works well.
// Needs javascript for actual parallax effect.
.parallax
  background-image: url('http://placekitten.com/g/1000/1000')
  background-position: 100% 0
  background-attachment: fixed
  height: 20em
  min-height: 20em
  display: table
  width: 100%
  
  > *
    display: table-cell
    text-align: center
    vertical-align: middle
  
  @media (max-width: 767px)
    background-position: 50% 0