+title("Chapter 1")
+subtitle("Intro")

h1 Chapter 1

p Looks like everything is working! You can edit this file in text/ch01/00.jade.

+img('img/kitten.jpg')

p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

p.pretty-paragraph This paragraph has pretty custom styling. You can edit styles in styles/main.styl
