!!!
html
  head
    title LFWA CSS Testing
    link(rel='stylesheet', href='test.css')
  body

    h1.h1 testing playground h1
    h2.h2 heading 2
    h3.h3 heading 3
    h4.h4 heading 4
    h5.h5 heading 5
    h6.h6 heading 6

    p.text-left Left-aligned. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.text-center Center-aligned. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.text-right Right-aligned. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.text-justify Justified. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    p
      span.text-uppercase UpPeRcAsE 
      span.text-lowercase LoWeRcAsE 
      span.text-bold bold 
      span.text-italic italic 
      span.text-underline underline 
      span.hidden hidden 
    
    form.fancy
      input.input(type="text")
      br
      textarea.textarea(type="text")
    
    ul
      li.li-normal item one
      li item two
      li item three
    ul.list-upper-latin
      li.li-upper-latin item one, list-upper-latin
      li item two, list-upper-latin
      li item three, list-upper-latin
    
    .parallax
    