// "Holy Grail" layout, with left and right sidebar.


.notifyjs-wrapper
  margin-left: 8px

.notifyjs-lfa-base
  background: #222
  z-index: 205

.notifyjs-arrow
  border-right-color: #222

.notifyjs-lfa-base > div
  background: #222
  paddding-left: 50px

:fullscreen
  background #000;

  body, #menu, .menu-item, #content
    background-color #000 !important
    border: none
  .menu-item, .navigation-button
    color: rgba(255, 255, 255, 0.3)
    border: none
    &:hover
      color: rgba(255, 255, 255, 0.8)
  #lfa-hide-modal span
    background-color #000
    border-color: rgba(255, 255, 255, 0.8)

  #navigation-slider
    .slider-track
      opacity: 0.3
      transition: all 3s ease;
      &:hover
        transition: all 0.5s ease;
        opacity: 1

body
  // Actual content/chapter should take up all available height; so we can click anywhere
  // to close the sidebars.
  background: #696969
  #content
    width: calc(100% - 68px)
    height: 100%

    @media max-phone
      padding-left: 0
      width: 100%

  #scrollview
    width: 100%
    height: 100%

    &.locked
      overflow: hidden
      pointer-events: none
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

    @media (min-width: screen-sm)
      //padding-top: 1.5em
      padding-bottom: 1.5em

  // Prevent margin collapse
  #textbook:before, #textbook:after
    content: ' '
    display: table

  #textbook
    margin: 0 auto

    @media (min-width: screen-sm)
      width: content-width-sm

    @media (min-width: screen-md)
      width: content-width-md

  // Animate the sidebars into view when they get activated. Move the entire page.
  &.leftbar-active
    #leftbar, .menu-item-left
      transform: translate3d(sidebar-width, 0, 0)
    #textbook
      transform: translate3d((sidebar-width * 0.5), 0, 0)
    // Make the other sidebar-toggle dissapear when you open a sidebar.
    .menu-item-right
      transform: translate3d(toggle-hitbox, 0, 0)
      opacity: 0

  // Fade out the content when we're on a tablet or smaller device.
  @media max-tablet
    &.leftbar-active
      #content
        opacity: 0.2

  #scrollview,
  #leftbar
    overflow: auto
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch

  overflow: hidden
  position: fixed
  width: 100%
  height: 100%

  // Fix mobile to not have any weird overflow-y jiggle.
  @media (max-width: 767px)
    #content.row
      margin-left: 0
      margin-right: 0
      overflow-x: hidden
      #textbook
        padding-left: 0
        padding-right: 0
