// "Holy Grail" layout, with left and right sidebar.
body
  // Actual content/chapter should take up all available height; so we can click anywhere
  // to close the sidebars.

  #content
    width: 100%
    height: 100%

  #scrollview
    width: 100%
    height: 100%

    &.locked
      overflow: hidden
      pointer-events: none
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

    @media (min-width: screen-sm)
      //padding-top: 1.5em
      padding-bottom: 1.5em

  #textbook
    width: 100%
    min-height: 100%
    margin: 0 auto
    overflow: hidden

    @media (min-width: screen-sm)
      width: content-width-sm

    @media (min-width: screen-md)
      width: content-width-md
  
  // Animate the sidebars into view when they get activated. Move the entire page.
  &.leftbar-active
    #leftbar, .menu-item-left
      transform: translate3d(sidebar-width, 0, 0)
    #textbook
      transform: translate3d((sidebar-width * 0.5), 0, 0)
    // Make the other sidebar-toggle dissapear when you open a sidebar.
    .menu-item-right
      transform: translate3d(toggle-hitbox, 0, 0)
      opacity: 0
  
  &.rightbar-active
    #rightbar, .menu-item-right
      transform: translate3d(- sidebar-width, 0, 0)
    #textbook
      transform: translate3d((sidebar-width * -0.5), 0, 0)
    .menu-item-left
      transform: translate3d(- toggle-hitbox, 0, 0)
      opacity: 0
  
  // Fade out the content when we're on a tablet or smaller device.
  @media max-tablet
    &.leftbar-active
    &.rightbar-active
      #content
        opacity: 0.2

  #scrollview
    overflow: auto
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch

  overflow: hidden
  position: fixed
  width: 100%
  height: 100%

  // Fix mobile to not have any weird overflow-y jiggle.
  @media (max-width: 767px)
    #content.row
      margin-left: 0
      margin-right: 0
      overflow-x: hidden
      #textbook
        padding-left: 0
        padding-right: 0
