body
  // The fixed menus that contains the sidebar and navigation buttons.
  .menu, .navigation-menu
    font-family: font-family-sans-serif
    user-select: none
    position: fixed
    width: 100%
    z-index: 1000
    color: white
  
    // Make the menu fade out when we scroll down on desktops.
    &.pinned
      opacity: 1

    &.unpinned
      opacity: 0.1

  .menu
    top: 0
  
  .navigation-menu
    bottom: 0

  // Fade the menu back in if we actually activate one of the toggles.
  &.leftbar-active .menu.unpinned
  &.rightbar-active .menu.unpinned
    opacity: 1

  // Change the top buttons to be part of a solid navbar on mobiles.
  @media max-phone
    .menu
      height: 3em
      background: #222

      // Reposition the buttons so they're prettier.
      .menu-item
        top: 0
  
      // Hide the menu when we scroll down on mobile.
      &.pinned
        transform: translate3d(0, 0, 0)
  
      &.unpinned
        transform: translate3d(0, -3em, 0)
        
    .navigation-menu
      height: 3em
      background: #222

      .menu-item
        bottom: 0
      
      &.pinned
        transform: translate3d(0, 0, 0)
  
      &.unpinned
        transform: translate3d(0, 3em, 0)
  
    #leftbar-toggle, #previous-chapter
      left: 0

    #rightbar-toggle, #next-chapter
      right: 0

    // Extra margin top to accomodate the menu.
    #textbook
      padding-top: 3em
      padding-bottom: 5em
