body
  #menu
    position: fixed;
    left: 0
    top: 0
    z-index: 200
    background: #222
    height: 100vh;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4)

    hr
      border: 0;
      border-bottom: 1px dotted white !important;
      padding: 0 32px;
      margin: 0;

  // Change the top buttons to be part of a solid navbar on mobiles.
  @media max-phone
    .lfa-atom-shown
      #menu
        transform: translate3d(-72px, 0, 0) !important

    #menu
      background-color: transparent !important
      position: absolute !important
      // top: 50vh !important
      // margin-top: -50% !important
      border: none !important

      box-shadow: none
      .hide-small
        display: none

      &.pinned
        transform: translate3d(0, 0, 0)

      &.unpinned
        transform: translate3d(-72px, 0, 0)

@media max-phone
  body.lfa-atom-shown
    #menu
      transform: translate3d(-72px, 0, 0) !important

:fullscreen
  body
    @media max-phone
      .lfa-atom-shown
        #menu
          transform: translate3d(-72px, 0, 0) !important

      #menu
        background-color: transparent !important
        position: absolute !important
        // top: 50vh !important
        // margin-top: -50% !important
        border: none !important

        box-shadow: none

        &.pinned
          transform: translate3d(0, 0, 0)

        &.unpinned
          transform: translate3d(-72px, 0, 0)

