// Style, position the sidebars correctly, and configure overflows.
#leftbar
  font-family: font-family-sans-serif
  background: sidebar-background
  color: sidebar-text-color
  padding-top: 1.5em
  @media max-phone
    padding-top: 0

  width: sidebar-width
  position: fixed
  height: 100%
  top: 0px
  z-index: 1906 !important

#leftbar
  left: - sidebar-width
  z-index: 1906 !important

html body
  #leftbar
    -webkit-overflow-scrolling: touch
    overflow-scrolling: touch
    overflow-y: scroll
    overflow-x: hidden
    z-index: 1906 !important

  &.leftbar-active #scrollview
    overflow: hidden
    #textbook
      pointer-events: none
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

