.menu-item
  cursor: pointer
  width: toggle-hitbox
  height: toggle-hitbox
  background: #222
  color: #fff
  border-radius: 50%
  border: 1px solid rgba(255,255, 255, 0.3)
  margin: toggle-margin;
  text-align: center
  display: flex;
  align-items: center;
  justify-content: center;

  i
    font-size: toggle-hitbox / 2;
    align-self: flex-center

  &.fullscreen-button
    align-self: flex-end
    order: 99

  &:hover
  &:focus
    background: #ff9900
    border: 1px solid #ff9900
    text-decoration: none

