// Layout-specific variables.
toggle-hitbox ?= 44px
toggle-margin ?= 10px

half-gutter ?= 15px
sidebar-width ?= 300px
sidebar-text-color ?= flat-clouds
sidebar-text-size ?= 1em
sidebar-background ?= #222

sidebar-search-bg ?= #444
sidebar-search-result-bg ?= #444

highlight-background ?= #ddd

toc-lvl1-background ?= sidebar-background
toc-lvl2-background ?= darken(toc-lvl1-background, 40%)
toc-lvl3-background ?= darken(toc-lvl2-background, 40%)

toc-lvl1-hover ?= lighten(toc-lvl1-background, 20%)
toc-lvl2-hover ?= lighten(toc-lvl2-background, 20%)
toc-lvl3-hover ?= lighten(toc-lvl3-background, 20%)

stripe-bezier ?= cubic-bezier(0.41, 1.34, 0.51, 1.01)
ease-sidebar ?= cubic-bezier(.10, .70, .20, 1)
