!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= book_title

    link(type='text/css', rel='stylesheet', media='screen', href='css/master.css')
  body
    nav
      +toc(toc)
    section
      .btn-group.col-xs-12
        .btn.btn-primary.col-xs-4#leftbar-toggle Trigger leftbar
        .btn.btn-success.col-xs-4#detail-toggle Detail
        .btn.btn-info.col-xs-4#rightbar-toggle Trigger rightbar
      #textbook
        article
          section
            p Welcome!
    aside
      p Lorem ipsum.

    // script(type='text/javascript', data-main="lfa-components/lfa-js/main", src="js/require.js")
    script(type='text/javascript', data-main="js/main", src="js/require.min.js")
    
    //- this must be included for live reload to work in development
    //- it will be automatically ignored when deployed
    != livereload
