!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= book_title
    
    link(type='text/css', rel='stylesheet', media='screen', href='lfa-components/font-awesome/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', media='screen', href='css/master.css')
  body
    .menu-wrapper
      .menu
        #leftbar-toggle
          i.fa.fa-bars.fa-fw
        .header: span
        #rightbar-toggle
          i.fa.fa-chevron-left.fa-fw
    nav
      +toc(toc)
    section
      #textbook
        article
          section
            p Welcome!
    aside
      #search
        #search-go: i.fa.fa-search.fa-fw
        #search-erase.concealed: i.fa.fa-times.fa-fw
        input.search(type="text", placeholder="Search")
        ul#search-results

    // script(type='text/javascript', data-main="lfa-components/lfa-js/main", src="js/require.js")
    script(type='text/javascript', data-main="js/main", src="js/require.min.js")
    
    
    //- this must be included for live reload to work in development
    //- it will be automatically ignored when deployed
    != livereload
