doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    title= book_title
    
    link(type='text/css', rel='stylesheet', media='screen', href='css/master.css')
  body
    .menu
      #leftbar-toggle: i.fa.fa-bars.fa-fw
      #rightbar-toggle: i.fa.fa-search.fa-fw
    
    nav#leftbar
      +toc(toc)
    
    section.container
      #content.row
        #textbook.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
          article
            section
              p If you're seeing this, either you have to wait for things to finish loading, or something went wrong.
    
    aside#rightbar
      #search
        #search-go: i.fa.fa-search.fa-fw
        #search-erase.concealed: i.fa.fa-times.fa-fw
        input.search(type="text", placeholder="Search")
        ul#search-results
      .settings
        button#animations-toggle.btn.btn-lg.btn-block Disable animations

    script(type='text/javascript', data-main="lfa/js/main", src="lfa/js/lib/require.min.js")
    
    //- this must be included for live reload to work in development
    //- it will be automatically ignored when deployed
    != livereload
